{% extends 'trade/base.html' %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 col-lg-5">
            <div class="card border-0 shadow-lg rounded-4">

                <div class="card-body p-4">
                    <h4 class="text-center mb-4"> Modifier la photo de profil</h4>

                    <div class="text-center mb-4">
                        <img src="{{ user.profile.image.url }}" 
                             class="rounded-circle shadow border border-3 border-success"
                             style="width:130px;height:130px;object-fit:cover;">
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success w-100 rounded-pill shadow-sm">
                            Enregistrer les modifications
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}